.grid
{
	background-image: url(../image/BG.png);
	height:80px;
	width:80px;
}

.red
{
	background-color: red;
	background-blend-mode: multiply;
}

.yellow
{
	background-color: yellow;
	background-blend-mode: multiply;
}

.blue
{
	background-color: blueviolet;
	background-blend-mode: multiply;
}

.green
{
	background-color: lime;
	background-blend-mode: multiply;
}

.menu
{
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: White;
	padding: 5px;
}

.ibutton
{
	height:20px;
	width:80px;
}

.hovering
{
	border:2px dashed black;
	margin:-2px;
}

.back
{
	display:none;
	border:2px solid black;
	height:80px;
	width:80px;
}